<?xml version="1.0" encoding="iso-8859-1"?>
	<slideshow  displayTime="{{slideshow.display_time}}" 
				transitionSpeed="{{slideshow.transition_speed}}"
				transitionType="Fade"
				motionType="None"
				motionEasing="easeInOut"
				randomize="{{slideshow.random}}"
				slideshowWidth="{{slideshow.width}}"
				slideshowHeight="{{slideshow.height}}"
				slideshowX="center"
				slideshowY="0"
				bgColor="000000"
				bgOpacity="100"
				useHtml="true"
				showHideCaption="true"
				captionBg="000000"
				captionBgOpacity="0"
				captionTextSize="11"
				captionTextColor="FFFFFF"
				captionBold="false"
				captionPadding="7"
				showNav="false"
				autoHideNav="false"
				navHiddenOpacity="40"
				navX="335"
				navY="193"
				btnColor="FFFFFF"
				btnHoverColor="FFCC00"
				btnShadowOpacity="85"
				btnGradientOpacity="20"
				btnScale="120"
				btnSpace="7"
				navBgColor="333333"
				navBgAlpha="0"
				navCornerRadius="0"
				navBorderWidth="1"
				navBorderColor="FFFFFF"
				navBorderAlpha="0"
				navPadding="8"
				tooltipSize="8"
				tooltipColor="000000"
				tooltipBold="true"
				tooltipFill="FFFFFF"
				tooltipStrokeColor="000000"
				tooltipFillAlpha="80"
				tooltipStroke="0"
				tooltipStrokeAlpha="0"
				tooltipCornerRadius="8"
				loaderWidth="200"
				loaderHeight="1"
				loaderColor="FF0000"
				loaderOpacity="100" 
				
				attachCaptionToImage="true"
				cropImages="false"
				slideshowMargin="0"
				showMusicButton="true"
				music="{{MEDIA_URL}}{{slideshow.music_file}}"
				musicVolume="50"
				musicMuted="false"
				musicLoop="{{slideshow.music_loop}}"
				watermark=""
				watermarkX="625"
				watermarkY="30"
				watermarkOpacity="100"
				watermarkLink=""
				watermarkLinkTarget="_blank"
				captionsY="bottom"
				>

        {% for image in slideshow.images %}
		    <image img="{{MEDIA_URL}}{{image.image}}" customtitle="{{image.caption}}" />
        {% endfor %}

	</slideshow>
	
